body{
    text-align:center;
}

h1{
    padding: 6px 13px;
    border-radius: 12px;
    color:green;
    display: inline-block;
    border: 6px solid green;
    border-radius: 36px;
}
.link{
    position: relative;
    border-radius: 23px;
}